/* @import "../node_modules/bulma/css/bulma.css"; */

/* main {
    /* flex-wrap: wrap-reverse; */
    /* padding: 4rem;
    margin: 0rem; */

* {
    color: #0F1816;
    font-family: 'Mouse Memoirs', sans-serif;
  }
  p {
    font-size: larger;
    color: #0F1816;
    font-size: 21px;
  /* }
  body {
    background-color:#008970;

  } */
}
    /* padding: 0px;
    margin: 0rem; */
  /* }
  }
  label {
    border: 3px solid;
    font-size: larger;
  } */
  /* p {
    font-size: larger;
    color: #0F1816;
    font-size: 21px;
  } */
  /* h1, h2{
border: 3px solid;
font-size: 25px;
color: #0F1816;
margin-right: 50px;
  } */
/* div {
    padding: 4rem;
    margin: 0;
} */
/* 
@media screen and (max-width: 992px) {
   

}
@media only screen and (max-width: 600px) { */

    